<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testecognitivo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Apresentacao" >
        </activity>
        <activity android:name=".AtencaoCalculoActivity" >
        </activity>
        <activity android:name=".CadastroMedicoActivity" >
        </activity>
        <activity android:name=".DadosPacienteActivity" >
        </activity>
        <activity android:name=".LembrancasActivity" >
        </activity>
        <activity android:name=".Linguagem" >
        </activity>
        <activity android:name=".Linguagem2" >
        </activity>
        <activity android:name=".Linguagem3" >
        </activity>
        <activity android:name=".LocalizacaoActivity" >
        </activity>
        <activity android:name=".OrientacaoTemporalActivity" >
        </activity>
        <activity android:name=".RegistroActivity" >
        </activity>
    </application>

</manifest>